body{
    background-color: #212529;
}

.logo{
    width: 200px;
    margin-left: 15%;
}

.headerNav{
    margin-right: 15%;
}

.headerNav2{
    margin-right: 35%;
}


.btn-socio{
    color: white;
    /* background-color: #E14658 !important; */
    border-radius: 0; /* Sin border-radius */
}

.btn-no-socio {
    color: white;
    background-color: transparent;
    border: 1px solid white; /* Borde blanco */
    border-radius: 0;
}

.iniciarSesionNav{
    padding-left: 30px;
}

.card{
    border:none;
}

.contCards{
    max-height: 800px;
    overflow-y: auto;
}





/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el "track" de la barra de desplazamiento (la parte gris) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo */
}

/* Estilo para el "thumb" de la barra de desplazamiento (el botón) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color del botón */
}

/* Hover sobre el "thumb" de la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del botón al pasar el mouse */
}
