body{
    background-color: #212529;
}

.logo{
    width: 200px;
    margin-left: 15%;
}

.headerNav{
    margin-right: 15%;
}

.headerNav2{
    margin-right: 35%;
}


.btn-socio{
    color: white;
    border-radius: 0; 
}

.btn-no-socio {
    color: white;
    background-color: transparent;
    border: 1px solid white; 
    border-radius: 0;
}

.iniciarSesionNav{
    padding-left: 30px;
}

.card{
    border:none !important;
}

#busquedaPrincipal{
    margin-bottom: 15px !important;
}

.contCards{
    max-height: 1000px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px; 
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888; 
}


::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.bodyLogin{
    background-image: url('../resources/fondoLogin.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 93vh;
}

.loginForm{
    background-color: white;
    width: 20%;
    border-radius: 15px;
    padding: 30px;
}

.input-line {
    border: none;
    border-bottom: 1px solid black; 
    border-radius: 0; 
    box-shadow: none; 
    outline: none;  
    padding: 0;  
    margin: 0;  
    background-color: transparent;  
}
.loginButtonAdmin {
    border-radius: 20px;
    width: 75%;
    background-color: #E14658;
    padding: 15px;
    border: none;
}
.loginButtonAdmin:hover {
    background-color: #F54958;
}
