body{
    background-color: #212529;
}
/* tabla carreras */
.activarBtn{
    width: 60px;
}

.accionesBtn{
    width: 80px;
}

.table-row{
    height: 50px;
}

.carrerasTable{
    width: 121%;

}

.modalCarrera{
    display: block;
}

.titulo{
    padding-bottom: 15px;
}

/* barra lateral */
.row{
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 30px;

}
.px-4{
    padding: 15px;
}
.logo{
    width: 200px;
    height: 70px;
    align-self: flex-start;
    margin-top: -60px;

}

/* Estilo para el div de los botones verticales */
.vertical-buttons {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /* width: 200px;  */
    background-color: #343a40; 
    padding: 20px; 
    height: 100%;
}

/* Estilo para los botones dentro del div vertical */
.vertical-buttons .btn {
    display: block;
    margin-bottom: 10px;
}

/* Estilo para el div con la clase mb-30 */
.mb-30 {
    margin-top: 56px;
}

.tbodyCont{
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 30px;
}

.bodyLogin{
    background-image: url('../resources/fondoLogin.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 93vh;
}

.loginForm{
    background-color: white;
    width: 20%;
}
.input-line {
    border: none;
    border-bottom: 1px solid black; /* Agregamos una línea en la parte inferior */
    border-radius: 0; /* Removemos cualquier radio de borde */
    box-shadow: none; /* Removemos cualquier sombra */
    outline: none; /* Removemos el contorno al hacer foco en el input */
    padding: 0; /* Removemos cualquier relleno */
    margin: 0; /* Removemos cualquier margen */
    background-color: transparent; /* Hacemos el fondo transparente */
}
.loginButtonAdmin {
    border-radius: 20px;
    width: 75%;
    background-color: #E14658;
    padding: 15px;
    border: none;
}
.loginButtonAdmin:hover {
    background-color: #F54958;
}



/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el "track" de la barra de desplazamiento (la parte gris) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo */
}

/* Estilo para el "thumb" de la barra de desplazamiento (el botón) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color del botón */
}

/* Hover sobre el "thumb" de la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del botón al pasar el mouse */
}
