body{
    background-color: #212529;
    margin: 0;
    padding-bottom: 100px;  
    min-height: 100vh;
    position: relative;
}
.activarBtn{
    width: 60px;
}

.accionesBtn{
    width: 80px;
}

.table-row{
    height: 50px;
}

.carrerasTable{
    width: 121%;

}

.modalCarrera{
    display: block;
}

.titulo{
    padding-bottom: 15px;
}

.row{
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 30px;

}
.px-4{
    padding: 15px;
}
.logo{
    width: 200px;
    height: 70px;
    align-self: flex-start;

}

.vertical-buttons {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
     width: 200px;  
    background-color: #343a40; 
    padding: 20px; 
    height: 100%;
}

.vertical-buttons .btn {
    display: block;
    margin-bottom: 10px;
}

.mb-30 {
    margin-top: 56px;
}

.tbodyCont{
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 30px;
}

.bodyLogin{
    background-image: url('../resources/fondoLogin.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 93vh;
}

.loginForm{
    background-color: white;
    width: 20%;
}
.input-line {
    border: none;
    border-bottom: 1px solid black; 
    border-radius: 0; 
    box-shadow: none; 
    outline: none;  
    padding: 0;  
    margin: 0;  
    background-color: transparent;  
}
.loginButtonAdmin {
    border-radius: 20px;
    width: 75%;
    background-color: #E14658;
    padding: 15px;
    border: none;
}
.loginButtonAdmin:hover {
    background-color: #F54958;
}





::-webkit-scrollbar {
    width: 10px;  
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.btn-custom {
    margin-top: 5px;
    color: #333; 
    background-color: #ccc;  
    border-color: #ccc;  
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    color: #333;  
    background-color: #bbb; 
    border-color: #bbb;  
}
  
.footer {
    display: flex;
    justify-content: space-around; /* Distribuye las columnas uniformemente */
    align-items: center; /* Alinea verticalmente el contenido */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    box-sizing: border-box;
}

.footer-column {
    flex: 1; /* Distribuye el espacio entre las columnas */
}

.footerelement {
    text-align: center;
}

  
